<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 
		address 客户端访问服务路径 
		serviceClass 配置接口
		serviceBean 配置实现类 
	 -->
	<jaxws:server id="userService" address="/userService" 
		serviceClass="cn.itcast.cxf.service.IUserService">
		<jaxws:serviceBean>
			<bean class="cn.itcast.cxf.service.UserServiceImpl" />
		</jaxws:serviceBean>
	</jaxws:server>
	
</beans>